//
// Border
//
.#{$pk-border-name}          { border: $pk-border-width solid $pk-border-def-color !important; }
.#{$pk-border-name}-bold     { border: $pk-border-width-bold solid $pk-border-def-color !important; }
.#{$pk-border-name}-solid    { border-style: solid !important; }
.#{$pk-border-name}-dashed   { border-style: dashed !important; }
.#{$pk-border-name}-hidden   { border-style: hidden !important; }
.#{$pk-border-name}-dotted   { border-style: dotted !important; }
.#{$pk-border-name}-none     { border-style: none !important; }
.#{$pk-border-name}-double   { border-style: double !important; }
.#{$pk-border-name}-groove   { border-style: groove !important; }
.#{$pk-border-name}-ridge    { border-style: ridge !important; }
.#{$pk-border-name}-inset    { border-style: inset !important; }
.#{$pk-border-name}-outset   { border-style: outset !important; }
.#{$pk-border-name}-initial  { border-style: initial !important; }

// .#{$pk-border-name}-0        { border: 0 !important; }
// .#{$pk-border-name}-#{$pk-top-name}-0    { border-top: 0 !important; }
// .#{$pk-border-name}-#{$pk-right-name}-0  { border-right: 0 !important; }
// .#{$pk-border-name}-#{$pk-bottom-name}-0 { border-bottom: 0 !important; }
// .#{$pk-border-name}-#{$pk-left-name}-0   { border-left: 0 !important; }

$pk-border-side: (
    'top': $pk-top-name,
    'bottom': $pk-bottom-name,
    'left': $pk-left-name,
    'right': $pk-right-name,
) !default;

@each $side, $name in $pk-border-side {
    .#{$pk-border-name}#{$name} {
        border-#{$side}: $pk-border-width solid $pk-border-def-color !important; 
    }
    .#{$pk-border-name}#{$name}-bold {
        border-#{$side}: $pk-border-width-bold solid $pk-border-def-color !important; 
    }
    .#{$pk-border-name}#{$name}-solid    { border-#{$side}-style: solid !important; }    
    .#{$pk-border-name}#{$name}-dashed   { border-#{$side}-style: dashed !important; }
    .#{$pk-border-name}#{$name}-hidden   { border-#{$side}-style: hidden !important; }
    .#{$pk-border-name}#{$name}-dotted   { border-#{$side}-style: dotted !important; }
    .#{$pk-border-name}#{$name}-none     { border-#{$side}-style: none !important; }
    .#{$pk-border-name}#{$name}-double   { border-#{$side}-style: double !important; }
    .#{$pk-border-name}#{$name}-groove   { border-#{$side}-style: groove !important; }
    .#{$pk-border-name}#{$name}-ridge    { border-#{$side}-style: ridge !important; }
    .#{$pk-border-name}#{$name}-inset    { border-#{$side}-style: inset !important; }
    .#{$pk-border-name}#{$name}-outset   { border-#{$side}-style: outset !important; }
    .#{$pk-border-name}#{$name}-initial  { border-#{$side}-style: initial !important; }
}
.#{$pk-border-name}#{$pk-top-bottom-name} {
    border-top: $pk-border-width solid $pk-border-def-color !important;
    border-bottom: $pk-border-width solid $pk-border-def-color !important;
}
.#{$pk-border-name}#{$pk-top-bottom-name}-bold {
    border-top: $pk-border-width-bold solid $pk-border-def-color !important; 
    border-bottom: $pk-border-width-bold solid $pk-border-def-color !important; 
} 
.#{$pk-border-name}#{$pk-left-right-name} {
    border-left: $pk-border-width solid $pk-border-def-color !important;
    border-right: $pk-border-width solid $pk-border-def-color !important;
}
.#{$pk-border-name}#{$pk-left-right-name}-bold {
    border-left: $pk-border-width-bold solid $pk-border-def-color !important; 
    border-right: $pk-border-width-bold solid $pk-border-def-color !important; 
} 

@each $i in $pk-border-level {
    .#{$pk-border-name}-#{$i} {
        border-width: $pk-border-width * $i !important;
    }
    .#{$pk-border-name}#{$pk-top-name}-#{$i} {
        border-top-width: $pk-border-width * $i !important;
    }
    .#{$pk-border-name}#{$pk-left-name}-#{$i} {
        border-left-width: $pk-border-width * $i !important;
    }
    .#{$pk-border-name}#{$pk-right-name}-#{$i} {
        border-right-width: $pk-border-width * $i !important;
    }
    .#{$pk-border-name}#{$pk-bottom-name}-#{$i} {
        border-bottom-width: $pk-border-width * $i !important;
    }
    .#{$pk-border-name}-bold-#{$i} {
        border-width: $pk-border-width-bold * $i !important;
    }
    .#{$pk-border-name}#{$pk-top-name}-bold-#{$i} {
        border-top-width: $pk-border-width-bold * $i !important;
    }
    .#{$pk-border-name}#{$pk-left-name}-bold-#{$i} {
        border-left-width: $pk-border-width-bold * $i !important;
    }
    .#{$pk-border-name}#{$pk-right-name}-bold-#{$i} {
        border-right-width: $pk-border-width-bold * $i !important;
    }
    .#{$pk-border-name}#{$pk-bottom-name}-bold-#{$i} {
        border-bottom-width: $pk-border-width-bold * $i !important;
    }
}

@each $color_name, $color in $pk-colors {
  @each $color_type, $color_value in $color {
    @if $color_type == "base" {
        .#{$pk-border-name}-#{$color_name}, .#{$pk-border-name}-#{$color_name}-#{500} {
            border-color: $color_value !important;
        }
        .#{$pk-border-name}#{$pk-top-name}-#{$color_name}, .#{$pk-border-name}#{$pk-top-name}-#{$color_name}-#{500} {
            border-top-color: $color_value !important;
        }
        .#{$pk-border-name}#{$pk-bottom-name}-#{$color_name}, .#{$pk-border-name}#{$pk-bottom-name}-#{$color_name}-#{500} {
            border-bottom-color: $color_value !important;
        }
        .#{$pk-border-name}#{$pk-left-name}-#{$color_name}, .#{$pk-border-name}#{$pk-left-name}-#{$color_name}-#{500} {
            border-left-color: $color_value !important;
        }
        .#{$pk-border-name}#{$pk-right-name}-#{$color_name}, .#{$pk-border-name}#{$pk-right-name}-#{$color_name}-#{500} {
            border-right-color: $color_value !important;
        }
    }
    @else {
        .#{$pk-border-name}-#{$color_name}-#{$color_type} {
            border-color: $color_value !important;
        }
        .#{$pk-border-name}#{$pk-top-name}-#{$color_name}-#{$color_type} {
            border-top-color: $color_value !important;
        }
        .#{$pk-border-name}#{$pk-bottom-name}-#{$color_name}-#{$color_type} {
            border-bottom-color: $color_value !important;
        }
        .#{$pk-border-name}#{$pk-left-name}-#{$color_name}-#{$color_type} {
            border-left-color: $color_value !important;
        }
        .#{$pk-border-name}#{$pk-right-name}-#{$color_name}-#{$color_type} {
            border-right-color: $color_value !important;
        }
    }
  }
}
// Shade classes
// @each $color, $color_value in $shades {
//     .#{$pk-border-name}-#{$color} {
//         border-color: $color_value !important;
//     } 
//     .#{$pk-border-name}#{$pk-top-name}-#{$color} {
//         border-top-color: $color_value !important;
//     }
//     .#{$pk-border-name}#{$pk-bottom-name}-#{$color} {
//         border-bottom-color: $color_value !important;
//     }
//     .#{$pk-border-name}#{$pk-left-name}-#{$color} {
//         border-left-color: $color_value !important;
//     }
//     .#{$pk-border-name}#{$pk-right-name}-#{$color} {
//         border-right-color: $color_value !important;
//     }
// }

@each $theme, $color in $pk-theme-colors {
    .#{$pk-border-name}-#{$theme} {
        border-color: $color !important;
    }
    .#{$pk-border-name}#{$pk-top-name}-#{$theme} {
        border-top-color: $color !important;
    }
    .#{$pk-border-name}#{$pk-bottom-name}-#{$theme} {
        border-bottom-color: $color !important;
    }
    .#{$pk-border-name}#{$pk-left-name}-#{$theme} {
        border-left-color: $color !important;
    }
    .#{$pk-border-name}#{$pk-right-name}-#{$theme} {
        border-right-color: $color !important;
    }
}

//
// Border-radius
//

.#{$pk-radius-name} {
  border-radius: $pk-border-radius !important;
}
.#{$pk-radius-name}#{$pk-top-name} {
  border-top-left-radius: $pk-border-radius !important;
  border-top-right-radius: $pk-border-radius !important;
}
.#{$pk-radius-name}#{$pk-right-name} {
  border-top-right-radius: $pk-border-radius !important;
  border-bottom-right-radius: $pk-border-radius !important;
}
.#{$pk-radius-name}#{$pk-bottom-name} {
  border-bottom-right-radius: $pk-border-radius !important;
  border-bottom-left-radius: $pk-border-radius !important;
}
.#{$pk-radius-name}#{$pk-left-name} {
  border-top-left-radius: $pk-border-radius !important;
  border-bottom-left-radius: $pk-border-radius !important;
}

.#{$pk-radius-name}-circle, .circle {
  border-radius: 50% !important;
}

.#{$pk-radius-name}-#{0} { 
  border-radius: 0 !important;
}
