// Margin and Padding

@each $breakpoint in map-keys($pk-grid-breakpoints) {
    @include pk-media-breakpoint-up($breakpoint) {
      $infix: pk-breakpoint-infix($breakpoint, $pk-grid-breakpoints);
  
      @each $prop, $abbrev in (margin: $pk-margin-name, padding: $pk-padding-name) {
        @each $size, $length in $pk-spacers {
  
          .#{$abbrev}#{$infix}-#{$size}  { #{$prop}:        $length !important; }
          .#{$abbrev}t#{$infix}-#{$size} { #{$prop}-top:    $length !important; }
          .#{$abbrev}r#{$infix}-#{$size} { #{$prop}-right:  $length !important; }
          .#{$abbrev}b#{$infix}-#{$size} { #{$prop}-bottom: $length !important; }
          .#{$abbrev}l#{$infix}-#{$size} { #{$prop}-left:   $length !important; }
          .#{$abbrev}x#{$infix}-#{$size} {
            #{$prop}-right: $length !important;
            #{$prop}-left:  $length !important;
          }
          .#{$abbrev}y#{$infix}-#{$size} {
            #{$prop}-top:    $length !important;
            #{$prop}-bottom: $length !important;
          }
        }
      }
  
      // Some special margin utils
      .#{$pk-margin-name}#{$infix}-auto  { margin:        auto !important; }
      .#{$pk-margin-name}t#{$infix}-auto { margin-top:    auto !important; }
      .#{$pk-margin-name}r#{$infix}-auto { margin-right:  auto !important; }
      .#{$pk-margin-name}b#{$infix}-auto { margin-bottom: auto !important; }
      .#{$pk-margin-name}l#{$infix}-auto { margin-left:   auto !important; }
      .#{$pk-margin-name}x#{$infix}-auto {
        margin-right: auto !important;
        margin-left:  auto !important;
      }
      .#{$pk-margin-name}y#{$infix}-auto {
        margin-top:    auto !important;
        margin-bottom: auto !important;
      }
      @each $size, $val in $pk-sizes {
        .w#{$infix}-#{$size} {
          width: $val !important;
        }
      }
    }
  }
  