
// 
// Text style
// 

  
  // Positioning
  .valign-wrapper {
      display: flex;
      align-items: center;
    }
    .#{$pk-text-name}-nowrap   { white-space: nowrap !important; }
    .#{$pk-text-name}-truncate { 
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    

// Alignment
 
$pk-aligns: (
     'left',
     'right',
     'center',
     'inherit',
     'initial',
     'end',
     'start',
     'auto',     
 );
@each $align in $pk-aligns {
    .#{$pk-text-name}-#{$align} { text-align: $align !important; }
}
// Transformation

.#{$pk-text-name}-lowercase  { text-transform: lowercase !important; }
.#{$pk-text-name}-uppercase  { text-transform: uppercase !important; }
.#{$pk-text-name}-capitalize { text-transform: capitalize !important; }

// Weight and italics

.font-weight-normal, .#{$pk-text-name}-normal { font-weight: $pk-font-weight-normal; }
.font-weight-bold, .#{$pk-text-name}-bold     { font-weight: $pk-font-weight-bold; }
.font-italic, .#{$pk-text-name}-italic        { font-style: italic; }
.font-small, .#{$pk-text-name}-small { font-size: 75%; }

.#{$pk-text-name}-muted { color: $pk-text-muted !important; }
// Misc
.#{$pk-text-name}-hide {
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
}


//
// Text color
//
@each $color_name, $color in $pk-colors {
    @each $color_type, $color_value in $color {
      @if $color_type == "base" {
        .#{$pk-text-name}-#{$color_name} {
          color: $color_value !important;
        }
      }
      @else {
        .#{$pk-text-name}-#{$color_name}-#{$color_type} {
          color: $color_value !important;
        }
      }
    }
  }
  
  // // Shade classes
  // @each $color, $color_value in $shades {
  //   .#{$pk-text-name}-#{$color} {
  //     color: $color_value !important;
  //   }
  // }
  
  // 
  // Theme text, some colors has specail meaning
  //
  @each $theme, $color in $pk-theme-colors {
    .#{$pk-text-name}-#{$theme} {
      color: $color !important;
    }
  }

