
// text class name
$pk-text-name: 'text';
// font 
$pk-font-weight-normal: normal !default;
$pk-font-weight-bold: bold !default;
$pk-text-muted: pk-color('gray', '600') !default;

// border 
$pk-border-radius:          .25rem !default;
$pk-border-width:           1px !default;
$pk-border-width-bold:      5px !default;
// border class name
$pk-border-name:         'brd';
$pk-border-level: (0, 1, 2, 3, 4, 5);

// border default color
$pk-border-def-color: #eeeeee !default;
// border-radius class name
$pk-radius-name: 'rad';

// shadow class name
$pk-shadow-name: 'shadow';

// some class name
$pk-top-name: 't';
$pk-left-name: 'l';
$pk-right-name: 'r';
$pk-bottom-name: 'b';
$pk-top-bottom-name: 'y';
$pk-left-right-name: 'x';
$pk-left-top-name: 'lt';
$pk-left-bootom-name: 'lb';
$pk-right-top-name: 'rt';
$pk-right-bootom-name: 'rb'; 


// Spacing
//
// Control the default styling of most Bootstrap elements by modifying these
// variables. Mostly focused on spacing.
// You can add more entries to the $spacers map, should you need more variation.
$pk-grid-breakpoints: (
    xs: 10px,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px
  ) !default;

$pk-spacer: 1rem !default;
$pk-spacers: (
  0: 0,
  1: ($pk-spacer * .25),
  2: ($pk-spacer * .5),
  3: $pk-spacer,
  4: ($pk-spacer * 1.5),
  5: ($pk-spacer * 3)
) !default;

// margin and padding class name
$pk-margin-name: 'm';
$pk-padding-name: 'p';

// This variable affects the `.h-*` and `.w-*` classes.
$pk-sizes: (
  25: 25%,
  50: 50%,
  75: 75%,
  100: 100%
) !default;